
body{
    width: 100%;
    min-height: 100vh;
    background-image: url('../media/leadspace.jpg');
    
}

.weatherCard{
    background-color: lightcyan;
    min-width: 400px;
    box-sizing: border-box;
    margin: 30px;
    padding: 20px;
    border-radius: 15px;
}